@font-face {
    font-family: "Roboto";
    src: url(../fonts/Roboto-Regular.ttf);
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: "Roboto-medium";
    src: url(../fonts/Roboto-Medium.ttf);
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: "Roboto-black";
    src: url(../fonts/Roboto-Black.ttf);
    font-weight: 900;
    font-style: normal;
}

/*=============================== Fonts Styles =========================*/

*{
    font: normal 400 16px/0 "Roboto";
}

.subtitle{
    font: normal 500 14px/14px "Roboto-medium";
}

.subtitle-2{
    font: normal 400 12px/12px "Roboto";
    color: rgba(148, 145, 145, 87);
}

